<h1>Listing snippet_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @snippet_types.each do |snippet_type| %>
  <tr>
    <td><%= snippet_type.name %></td>
    <td><%= snippet_type.description %></td>
    <td><%= link_to 'Show', snippet_type %></td>
    <td><%= link_to 'Edit', edit_snippet_type_path(snippet_type) %></td>
    <td><%= link_to 'Destroy', snippet_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snippet type', new_snippet_type_path %>
